<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best YouTube Video downloader</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="resp.css">
  <link rel="stylesheet" href="style1.css">
</head>
<body>
  <head>
  <img src="1.jpg" alt="" id="bg">
  <div class="overlay"></div>
  <nav class="navbar h-nav-resp">
    <ul class="nav-list v-class-resp">
      <h1><span>Best YouTube Video downloader</span></h1>
      <li><a href="/">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="#operations">Operations</a></li>
      <li><a href="contact.html">Contact Us</a></li>
    </ul>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</head>
  <div class="main">
      <section class="contact">
        <div class="content">
            <h1>Contact Us</h1>
            <p>If you have any problem , please do contact me via social media in given . I will help you or direct call me on my phone number , 0300 4750123 
           </p>
        </div>
        <div class="container">
            <div class="contactinfo">
                <div class="box">
                    <div class="icon"><img src="zoom.png" width="27px"></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>mamukhail, Post n Vill Shumar <br> Tehseel Qaidabad </p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><img src="whatsapp.png" width="27px"></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>+92 300 4750123 </p>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><img src="gmail.png" width="21px"></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>free2xxy@gmail.com</p>
                    </div>
                </div>
                <h2 class="txt">connect with us</h2>
                <ul class="rokku">
                    <li><a href="#"><img src="d.png" width="35px"></a></li>
                    <li><a href="#"><img src="e.png" width="35px"></a></li>
                    <li><a href="#"><img src="a.png" width="35px"></a></li>
                    <li><a href="#"><img src="c.png" width="35px"></a></li>
                </ul>
            </div>
            <div class="card">
                <form action="">
                    <h2>send message</h2>
                    <div class="inputbox">
                        <input type="text" name="" required="required">
                        <span>Full Name</span>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputbox">
                        <textarea required="required"></textarea>
                        <span>Type Your Message...</span>
                    </div>
                    <div class="inputbox">
                        <input type="submit" value="send">
                    </div>
                </form>
            </div>
        </div>
    </section>
  </div>
  <div class="socialbar">
    <ul>
        <li>
            <a href="#">
                <span class="fa"><img src="logo/a.png" width="37px"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa"><img src="logo/b.png" width="37px"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa"><img src="logo/c.png" width="37px"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa"><img src="logo/d.png" width="37px"></span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa"><img src="logo/e.png" width="37px"></span>
            </a>
        </li>
    </ul>
</div>
  <footer>
    <ul>
      <li><a href="terms.html">Terms and Conditions</a></li>
      <li><a href="disclaimer.html">Disclaimer</a></li>
      <li><a href="privacy.html">Privacy policy</a></li>
      <li><a href="downloader.html">Other Best Tools</a></li>
    </ul>
    <p>
      All rights reserved &copy;2023-www.freeuse.com
    </p>
  </footer>
  <script src="script.js"></script>
</body>

</html>