::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
#bg {
    position: absolute;
    width: 100%;
    height: 150vh;
}

.logo img {
    display: flex;
    width: 30px;
    margin: 5px 60px;
    padding: 0px 0px 0px 52px;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    opacity: 80%;
    background-color: transparent;
    z-index: 100;
}

.nav-list {
    width: 100%;
    background: transparent;
    margin: 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 10;

}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 100px;
    margin-top: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    border-radius: 20px;
    list-style: none;
    background: linear-gradient(160deg, transparent, rgba(109, 109, 109, 0.956));
    box-shadow: inset 1px 1px 7px #ffffff, inset -5px -5px 10px #ffffff, 5px 5px 10px #585858;
    font-size: 1.1em;
    border: 1px solid #ffffff;
}

ul li:hover {
    background: linear-gradient(150deg, white, #00c8ff);
}

ul li:active {
    height: 24px;
    width: 100px;
    margin-top: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    background: #ffffff;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 10px rgb(255, 255, 255),
        0px 0px 20px rgb(255, 255, 255),
        0px 0px 40px rgb(255, 255, 255),
        0px 0px 60px rgb(255, 255, 255), inset 4px 4px 10px #c6c6c6, inset -1px -1px 10px #d6d6d6;
    text-shadow: none;
    border: 1px solid rgb(181, 181, 181);
    cursor: none;
}

ul li a {
    text-decoration: none;
    color: rgb(0, 162, 255);
    font-size: 14px;
}

ul li a:hover {
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 0, 0);
}

ul h1 {
    margin-right: 212px;
    font-size: 2em;
    font-weight: 300;
    color: #ff00f2;
    font: large;
}


h3 {
    margin-left: 60px;
    padding: 10px 20px 5px 50px;
    color: hsl(240, 100%, 50%);
}

h1 span {
    transition: .5s;
    margin-left: -529px;
}

h1:hover span {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(255, 255, 255),
        0px 0px 20px rgb(255, 255, 255),
        0px 0px 40px rgb(255, 255, 255),
        0px 0px 80px rgb(255, 255, 255),
        0px 0px 120px rgb(255, 255, 255),
        0px 0px 160px rgb(255, 255, 255);
}

.burger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 10px;
    display: none;
}

.line {
    width: 25px;
    background-color: white;
    height: 5px;
    margin: 3px;
}

.main {
    top: 20px;
     margin:0 10%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    font-size: 48px;
    margin-left: 10px;
    padding: 0;
    color: rgb(144, 144, 144);
    transition: .5s;
    z-index: 1;
}

.main h1:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(255, 255, 255),
        0px 0px 20px rgb(255, 255, 255),
        0px 0px 40px rgb(255, 255, 255),
        0px 0px 80px rgb(255, 255, 255),
        0px 0px 120px rgb(255, 255, 255),
        0px 0px 160px rgb(255, 255, 255);
}


h2 {
    margin-top: 10px;
    font-size: 2.5em;
    font-weight: 400;
    color: #000000;
}

strong {
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 300;
    color: rgb(1, 164, 252);
}

h4 {
    margin: 15px 0;
    font-size: 1.3em;
    font-weight: 200;
    color: #ffffff;
}

h4 p {
    margin: 10px 0;
    font-size: 16px;
    color: #595959;
}

footer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(10, 7, 41);
}

footer p {
    font: 1em sans-serif;
    margin-bottom: 30px;
    color: #ffffff;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.heading h1 {
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 3em;
    font-weight: 400;
    color: #a34100;
    font: large;
    cursor: pointer;
}

.heading h1:hover {
    transition: .2s;
    color: #ffffff;
    text-shadow: 0px 0px 10px #ffffff,
        0px 0px 20px #ffffff,
        0px 0px 40px #ffffff,
        0px 0px 80px #ffffff,
        0px 0px 120px #ffffff,
        0px 0px 160px #ffffff;
}

footer ul li {
    width: 180px;
    height: 24px;
}

footer ul li:active {
    height: 24px;
    width: 180px;
}

footer ul li a {
    color: #00c4ff;
    font-size: .9em;
    font-style: italic;
}

footer ul {
    width: 100%;
    background: transparent;
    margin: 20px 0px;
    gap: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    z-index: 10;
}


.socialbar ul {
    position: absolute;
    top: 350px;
    left: 10px;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transform: rotate(-0deg) skew(0deg);
}

.socialbar ul li {
    position: relative;
    list-style: none;
    width: 0px;
    height: 0px;
    margin: 18px 14.2px;
}

.socialbar ul li a {
    background: red;
}

.socialbar ul li span {
    position: absolute;
    display: flex !important;
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: rgba(221, 216, 216, 0.572);
    color: rgb(0, 238, 255);
}

.socialbar ul li :hover span {
    /* position: absolute; */
    transition: 0.8s;
}

.socialbar ul li :hover span :nth-child(1) {
    transform: translate(22px, -22px);
    transition: .8s;
    border-radius: 50%;
}

.socialbar ul li :nth-child(1):hover span {
    background: rgb(223, 218, 218);
}

.socialbar img:hover {
    box-shadow: -8px 8px 8px #525151;
    border-radius: 50%;
    transition: 0s;
}

.socialbar img:active {
    box-shadow: 0px 0px 5px #ffffff,
        0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 100px #ffffff, 0 0 125px #ffffff, 0 0 160px #ffffff, 0 0 200px #ffffff;
    border-radius: 50%;
    transition: 0s;
}
